
<VirtualHost *:80>

	# Available URL(s)
	ServerName m.cyclestreets.net
	
	# Where the files are
	DocumentRoot /var/www/mobileweb/
	
	# Allow access
	<Location />
		Require all granted
	</Location>
	
	# Logging
	CustomLog /var/log/apache2/mobile-access.log combined
	ErrorLog /var/log/apache2/mobile-error.log

	# Allow photo uploads to a reasonable size
	php_value upload_max_filesize 10M
	php_value post_max_size 10M

</VirtualHost>

